/* Body text modifications for padding */
body {
    background-color: aliceblue;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    height: auto;
    width: auto;
}

/* Consistency with headers with these modifications */

h1 {
    padding: 0.5em auto auto auto;
    border: 10px;
    border-style: groove;
    border-color: #DC143C;
    border-radius: 1ch;
    position: static;
    text-align: center;
    display: inline;
}

/* Modifying task section for ease of viewing */

#taskStuff {
    display: grid;
    align-self: start;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    row-gap: 5px;
}

/* Ensuring brainstorming section appears in a cleanly divided way for users*/

#brainstormSection {
    display: flex;
    flex: content;
    flex-flow: row;
    flex-wrap: nowrap;
    flex-basis: 0ch;
}

/* All captions and second headers centered */

#caption, h2 {
    text-align: center;
}

img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}

h2 {
    font-size: 22px;
    margin: 10px;
    text-decoration: underline;
}

h3 {
    margin: auto;
}

strong {
    font-size: 2.05ch;
}

p {
    padding-left: 1.5em;
}

div > p[id] {
    color: blueviolet;
}

/* Ensure each section is clearly defined */

section {
    border: 10px;
    border-style: double;
    border-color: hsl(180, 100%, 27%);
    border-width: 1.2ch;
    max-height: fit-content;
    min-height: fit-content;
}

ul li, ol li {
    margin: 10px 10px 10px 10px;
}

footer {
    text-decoration: overline;
    text-align: center;
    position: sticky;
    bottom: 0px;
    background-color: aliceblue;
}

summary:hover {
    background-color: greenyellow;
}

button:active {
    background-color: red;
}

@media (min-width: 1000px) {
    button:hover{
        color: green;
    }
}

.attendeesHeader {
    text-decoration: underline;
}

* {
    font-family: "Montserrat", sans-serif;
}

h2 ~ div > ol, p {
    color: purple;
}

h2 + ul {
    color:green
}

input:hover {
    color: chocolate;
}
